body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #839FC6;
    letter-spacing: 3px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.blue-bg {
    background-color: #839FC6;
}

.main-bg {
    background-color: #F9FAFC;
}

.nav-item {
    float: right;
}

/* main image */

#main-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 700px;
    width: 100%;
    background: url('https://res.cloudinary.com/dblljsm5s/image/upload/v1682788532/static/images/logo.39b676e10f30.png') no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for main image */
@keyframes main-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #7090BE;
    color: white;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.masthead-text {
    background-color: #7090BE;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #839FC6;
}

.post-title {
    margin-top: 15%;
    margin-left: 5%;
}

.post-subtitle {
    margin-top: 8%;
    margin-left: 5%;
    font-weight: 700;
    color: white;
}

.btn-signup {
    background-color: #839FC6;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #839FC6;
}

.btn-delete {
    background-color: red;
    color: #fff;
}

.btn-delete:hover,
.btn-delete:active {
    background-color: #fff;
    color: red;
}

.link {
    color: #839FC6;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer */

.socials i {
    font-size: 150%;
    padding: 1%;
    color: white;
    text-align: center;
}

.social-icons {
    text-align: center;
    margin: 1%;
}

.form {
    margin: 70px 10% 0 0;
    color: #fff;
    background-color: rgba(36, 103, 182, 0.5);
    max-width: 400px;
    position: absolute;
    left: 50px;
    padding: 30px;
}

/* Media queries*/

/* Larger to medium screen size from 1000px and below */

@media screen and (max-width: 1000px) {
    
    .post-subtitle {
        margin-top: 6%;
        font-weight: 500;
    }
}

/* Small screen size from 330px and below */

@media screen and (max-width: 330px) {
    
    .brand {
        font-family: Lato, sans-serif;
        font-size: 2rem;
    }
}