{% extends "base.html" %}

{% block content %}

<div id="main-outer" class="blue-bg">
    <div id="main-image"></div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Listing Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for listing in listing_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in listing.featured_image.url %}
                                <img class="card-img-top" alt="icon" src="https://res.cloudinary.com/dblljsm5s/image/upload/v1682788531/static/images/icon.31f74059af5c.png">
                                {% else %}
                                <img class="card-img-top" alt="featured image" src=" {{ listing.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ listing.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'listing_detail' listing.slug %}" class="post-link">
                                <h2 class="card-title">{{ listing.address }}</h2>
                                <p class="card-text">{{ listing.excerpt }}</p>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ listing.created_on}} </p>
                            <p class="card-text text-muted h6"><i class="far fa-heart"></i>
                                {{ listing.number_of_likes }} 
                            </p>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}