{% extends 'base.html' %} 

{% block title %}
    {{ listing.address }}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in listing.featured_image.url %}
                <img src="../static/images/icon.png" width="100%">
                {% else %}
                <img src=" {{ listing.featured_image.url }}" width="100%">
                {% endif %}
            </div>
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">
                    {{ listing.address }}
                </h1>
                <p class="post-subtitle"> {{ listing.author }} | {{ listing.created_on }}</p>
                <p class="post-subtitle"><i class="fa-solid fa-money-bill"></i> {{ listing.price }}€</p>
                <p class="post-subtitle"><i class="fa-solid fa-bed"></i> {{ listing.bedrooms }}</p>
                <p class="post-subtitle"><i class="fa-solid fa-bath"></i> {{ listing.bathrooms }}</p>
                <p class="post-subtitle"><i class="fa-solid fa-bolt"></i> {{ listing.ber_category }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ listing.content | safe }}
                </p>
                <div class="row">

                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'listing_like' listing.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{listing.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{listing.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        </strong>
                        <strong class="text-secondary"> {{ listing.number_of_likes }} </strong>
                    </div>
                    <div class="col-2">
                        {% with questions.count as total_questions %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_questions }}
                        </strong>
                        {% endwith %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <p class="edit"><a href="{% url 'update_listing' listing.pk %}" class="btn btn-signup btn-lg">Edit Listing</a></p>
            </div>
            <div>
                <p class="delete"><a href="{% url 'delete_listing' listing.pk %}" class="btn btn-delete btn-lg">Delete Listing</a></p>
            </div>
            <hr>
            <br>
        </div>
    </div>

    {% if user.is_anonymous %}
    <div class="row">
        <div class="col">
            <p>Please <a class="link" href="{% url 'account_signup' %}">create an account</a> to like the listings, ask questions or book viewings. 
                Do you already have an account? Then please <a class="link" href="{% url 'account_login' %}">sign in</a> instead.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Questions:</h3>
            <div class="card-body">
                {% for question in questions %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ question.name }} on
                        <span class=" text-muted font-weight-normal">
                            {{ question.created_on }}
                        </span> asked:
                    </p>
                    {{ question.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">

                {% if asked %}
                <div class="alert alert-success" role="alert">
                    Your question is awaiting approval
                </div>
                {% else %}
                
                    {% if user.is_authenticated %}

                    <h3>Ask us a question:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ question_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>

                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>
    <hr>
    <div>
        <a href="{% url 'home' %}" class="btn btn-signup btn-lg">Back</a>
    </div>
    <div>
        <br>
    </div>
</div>

{% endblock content %}