{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">
                    {{ listing.address}}
                </h1>
                <p class="post-subtitle"> {{ listing.author }} | {{ listing.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in listing.featured_image.url %}
                <img src="../static/images/icon.png" width="100%">
                {% else %}
                <img src=" {{ listing.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ listing.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ listing.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with questions.count as total_questions %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_questions }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Questions:</h3>
            <div class="card-body">
                {% for question in questions %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ question.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ question.created_on }}
                        </span> wrote:
                    </p>
                    {{ question.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if asked %}
                <div class="alert alert-success" role="alert">
                    Your question is awaiting approval
                </div>
                {% else %}
                
                {% if user.is_authenticated %}

                <h3>Ask us a question</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ question_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}